* {
    
    font-family:monospace;
}

* {
    
    box-sizing: border-box;
}

.logo {
    
    width: 100%;
}

.menu head {
    margin-left: 10%;
}

ul {
    margin: 10%;
    padding: 0px;

    list-style: none;

}

ul li {
    border-top: 100%;
    margin: 2%;
    float: left;
    width: 100%;
    height: 100%;
    background-color: 717a1a;
    line-height: 300%;
    text-align: center;
    font-size: 100%;
    border: 2px solid #717a1a;
}

ul li a {
    text-decoration: none;
    color: black;
    display: inline;
}

ul li a:hover {
    background-color: lightgrey;
}

ul li ul li {
    display: table-cell;
}

ul li:hover ul li {
    display: flow-root;
}

 
     
    
    background-color: gainsboro;
}
div {
    background-color: #717a1a;
}

.logo {
    width: 100%;
}

h1 {
    
    text-align: center;
    margin: 5%;

}

.baggrund {
background-color: #w;
    
  }
  
  
    
    
}

h2{
    text-align: center;
    margin: 3%;
}
.om-os {
    
    text-align:left;
 
     margin: 2%;
    
}    

.born {
    text-align: center;
    text-decoration-color: black;
}
 

.mobilbilleder {
    
    
    width: 50%;
}

.asiathat {
   float: left;
        
    width: 50%;
}

p {
    
    margin: 3%;
    
}
.padde {
    width: 100%;
}




footer {
   width: 100%;
   background-color:gainsboro;
   color: black;
   text-align: center;
}




/* Fra tablet og op */
@media (min-width: 780px){

    
    .logo {
        margin-left: 34%; 
    width: 35%; 
        
}
    


ul li {
    border-top: 100%;
    margin: 2%;

    float: left;
    width: 100%;
    background-color: white;
    line-height: 300%;
    text-align: center;
    font-size: 100%;
    border: 2px solid #717a1a;
}

ul li a {
    text-decoration: none;
    color: black;
    display: inline;
}

ul li a:hover {
    background-color: whitesmoke;
}

ul li ul li {
    display: table-cell;
}

ul li:hover ul li {
    display: flow-root;
}

    .asiatbilleder {
    
    width: 40%;
    float: left;
}
    .mobilbilleder {
        width:  100%;
    }
    
    .padde {
        width: 100%;
    }
    
    .sidste {
       display: flex;
         
    }
    
     
    }
    
    .flex {
       display: flex;
       
        
    }
    
    .omos {
        flex: ;
        width: 30%;
        margin-left: 3%;
            
    }


    .flexp {
       display: flex;
       
        
    }
    
    .program {
        flex: ;
        width: 30%;
        margin-left: 3%;
            
    }

.vietnam {
       display: flex;
       
        
    }
    
    .vietnamt {
        flex: ;
        width: 50%;
        margin-left: 3%;
            
    }

.srilanka {
       display: flex;
       
        
    }
    
    .sri {
        flex: ;
        width: 41.5%;
        margin-left: 3%;
            
    }
.marokko {
       display: flex;
       
        
    }
    
    .mar {
        flex: ;
        width: 39.5%;
        margin-left: 3%;
            
    }
}
